body {
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
}

button {
  width: 30px;
  height: 30px;
  background-color: rgb(192, 192, 192);
  border-radius: 8px;
  border-width: 0;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

#create {
  width: 80px;
  height: 30px;
}

.new-Task-Input {
  display: flex;
  justify-self: center;
}

.all-tasks div {
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 50px;
  display: grid;
  grid-template-columns: 7fr 1fr 1fr;

  background-color: rgb(240, 240, 240);
  border-radius: 8px;
  margin-top: 10px;
  padding-left: 10px;
}

.all-tasks button {
  justify-self: center;
  justify-content: center;
  align-self: center;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease-out; /* Adjust the time and easing function as needed */
}
